<% provide(:title, "About") %>
<div class="about">
  <div class="backgroundImage">
  </div>
  <div class="wrapper">
    <div class="main">
      <h1>About</h1>
      <p>
        Preparing...
      </p>
    </div>
  </div>
</div>
