<% provide(:title, "Contact") %>
<div class="contact">
  <div class="backgroundImage">
  </div>
  <div class="wrapper">
    <div class="main">
      <h1>Contact</h1>
      <p>
        Preparing...
      </p>
    </div>
  </div>
</div>
