<% provide(:title, "Help") %>
<div class="help">
  <div class="backgroundImage">
  </div>
  <div class="wrapper">
    <div class="main">
      <h1>Help</h1>
      <p>
        Preparing...
      </p>
    </div>
  </div>
</div>
