<% provide(:title, "Calorie Checker") %>
<div class="jumbotron">
  <h1>Calorie Checker</h1>
  <p>It's important to know how much calorie you can take and what you should eat. </p>

  <%#= link_to "Sign up here", signup_path, class:"btn btn-lg btn-primary" %>
</div>
