input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
  height: auto !important;
}

h1 {
  text-align: center;
}

.radio-inline {
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.number_form {
  width: 100px;
}
